<div class="page-header">
  <h3>Day #<%= @day.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Day</dt>
      <dd><%= @day.day %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/days" class="btn btn-primary">
        Back
      </a>
      <a href="/days/<%= @day.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_day/<%= @day.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
